#wrap {
    width:600px;
    height:200px;
    position:absolute;
    left:50%;
    top:30%;
    margin:0 0 0 -150px;
}

p {
  margin: 0;
  font-size: 3em;
  font-family:Helvetica;
}

.green {
  color: #8ED273;
}
