body {
  background: #ecf0f1;
}

#wrap {
    width:600px;
    height:200px;
    position:absolute;
    left:50%;
    top:15%;
    margin:0 0 0 -150px;
}

p {
  margin: 0.2em;
  font-size: 1.15em;
  font-family: 'Lato', sans-serif;
  font-weight: 300;
}

.name {
  padding-bottom: 0.5em;
  font-weight: 300;
  font-size: 1.55em;
}

a {
  color: #27ae60;
  text-decoration: none;
}

a:visited {
  color: #27ae60;
}

a:hover {
  text-decoration: underline;
}
